<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Eventos :: Cadastro de Usuarios  </title>
        <link rel="stylesheet"
              href="/css/style.css" />
    </head>
<body>
    <header>
        <h1>Cadastre um usuario</h1>
        <img id="gif" class="center" src="https://64.media.tumblr.com/d6d95764397c82931795cedbe300fbc2/tumblr_pupea1eJlu1r6mgnbo1_540.jpg">
        <nav>
            <ul>
                <li>
                    <a href="/inicio">Lista de Eventos</a>
                </li>
                <li>
                    <a href="/cadastroEvento">Cadastro de Eventos </a>
                </li>
                <li>
                    <a href="/usuario">Lista de Usuarios </a>
                </li>
                <li>
                    <a href="/cadastroUsuario">Cadastro de Usuarios </a>
                </li>
                <li>
                    <a href="/logout">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>