<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Eventos :: Usuarios</title>
        <link rel="stylesheet"
              href="/css/style.css" />
    </head>
<body>
    <header>
        <h1>SEJA BEM-VINDO <%=usuarioSession.nome%> AO Cadastro de usuarios </h1>
        <img id="gif" class="center" src="https://gerarmemes.s3.us-east-2.amazonaws.com/memes/e83cbcf8.jpg">
        <nav>
            <ul>
                <li>
                    <a href="/inicio">Lista de Eventos</a>
                </li>
                <li>
                    <a href="/cadastroEvento">Cadastro de Eventos </a>
                </li>
                <li>
                    <a href="/usuario">Lista de Usuarios </a>
                </li>
                <li>
                    <a href="/cadastroUsuario">Cadastro de Usuarios </a>
                </li>
                <li>
                    <a href="/logout">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>