<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <img id="gif" src="https://i.pinimg.com/originals/3a/2a/a1/3a2aa11b218ddb328fb1277f2d91dbfa.gif">
</body>
</html>


<!--WORK FROM HOME: ela subirá isso pronto atarde, umas 15hrs.
    Página inicio: criar html com formulário 
        -form com action de uma rota '/login'
        -método post
        -uma classe de CSS para vcs customizarem
        - Campos de formulário:
            - nome tipo texto
            - senha do tipo password
            - botao do tipo submit
    -> Arquivo CSS
        - se quiser usar bootstrap, a vontade
        - customizar um CSS simples/bonitinho pro formulario
-->