<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Eventos :: Cadastro de Usuarios  </title>
        <link rel="stylesheet"
              href="/css/style.css" />
    </head>
<body>
    <header>
          <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="justify-content: center">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/inicio" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Lista de Eventos</span>
                    </a><br>
                    <a href="/cadastroEvento"class="list-group-item list-group-item-action py-2 ripple active">
                        <i class="fas fa-chart-area fa-fw me-3"></i  ><span>Cadastro de Eventos</span>
                    </a><br>
                    <a href="/usuario" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-lock fa-fw me-3"></i><span>Lista de Usuarios</span>
                    </a><br>
                    <a href="/cadastroUsuario" class="list-group-item list-group-item-action py-2 ripple">
                        <iclass="fas fa-chart-line fa-fw me-3"></i><span>Cadastro de Usuarios</span>
                    </a><br>
                    <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Sair</span>
                    </a><br>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    </header>            
    <main>
        <section>
            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-md-1">
                                <div class="align-self-center">
                                    <h1>Cadastre um usuario</h1>
                                    <img id="gif" class="center" src="https://64.media.tumblr.com/d6d95764397c82931795cedbe300fbc2/tumblr_pupea1eJlu1r6mgnbo1_540.jpg">    
                                    <form action="/cadastrarUsuario"
                                        method="post"
                                        class="formulario">
                                        <div>
                                            <label for="nomeLogin">Nome</label>
                                            <input type="text"
                                                id="nomeLogin"
                                                required="required"
                                                autocomplete="name"
                                                name="usuario[nome]" />
                                        </div>
                                        <div>
                                            <label for="senhaLogin">Senha</label>
                                            <input type="password"
                                                id="senhaLogin"
                                                required="required"
                                                autocomplete="new-password"
                                                name="usuario[senha]" />
                                        </div>
                                        <div>
                                            <label for="confirmarSenhaLogin">Confirmar Senha</label>
                                            <input type="password"
                                                id="confirmarSenhaLogin"
                                                required="required"
                                                autocomplete="new-password"
                                                name="usuario[confirmarSenha]" />
                                        </div>
                                        <div>
                                            <button type="submit">Cadastrar Usuário</button>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>