<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eventos :: Usuarios</title>
        
        <link rel="preload" href="css/style.css" as="style">
        <link rel="preload" href="/js/menu.js" as="script">
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
<body>
    <header>
        <h1>SEJA BEM-VINDO <%=usuarioSession.nome%> AO Cadastro de usuarios </h1>
        <img id="gif" class="center" src="https://gerarmemes.s3.us-east-2.amazonaws.com/memes/e83cbcf8.jpg">
          <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="justify-content: center">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="/inicio" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Lista de Eventos</span>
                    </a><br>
                    <a href="/cadastroEvento"class="list-group-item list-group-item-action py-2 ripple active">
                        <i class="fas fa-chart-area fa-fw me-3"></i  ><span>Cadastro de Eventos</span>
                    </a><br>
                    <a href="/usuario" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-lock fa-fw me-3"></i><span>Lista de Usuarios</span>
                    </a><br>
                    <a href="/cadastroUsuario" class="list-group-item list-group-item-action py-2 ripple">
                        <iclass="fas fa-chart-line fa-fw me-3"></i><span>Cadastro de Usuarios</span>
                    </a><br>
                    <a href="/logout" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Sair</span>
                    </a><br>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->
    </header>            
</body>
</html>
   