@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins&display=swap');

:root {
    --menu-size: 250px;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

*:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Macondo', cursive;
}

h1 {
	text-align: center;
	color: red;
	font-size: 30px;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 300px;
}

header {
    background-color: rgb(21, 22, 29);
    padding: 10px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#comeco {
	width: 90%;
	max-width: 400px;
	min-width: 270px;
	margin: 0 auto;
	padding: 30px;
}

#titulo{
    color: black; 
    font-size: xx-large;
}

#inicio {
	width: 90%;
	max-width: 400px;
	min-width: 270px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid red;
	border-radius: 20px;
}

.formulario div {
	margin: 10px 0 30px;
}

.formulario div label {
	width: 100%;
	display: block;
	color: red;
}

.formulario div input {
	width: 100%;
	display: block;
	font-size: 16px;
	margin: 5px 0;
	padding: 0 10px 0 30px;
	height: 35px;
	line-height: 35px;
	border: 1px solid red;
	border-radius: 3px;
	background-color: white;
	background-repeat: no-repeat;
	background-position: 6px center;
}

.formulario div input#nomeLogin {
	background-image: url(./../images/user-icon.svg);
	background-size: 22px;
}

.formulario div input#senhaLogin {
	background-image: url(./../images/lock-icon.svg);
	background-size: 14px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.formulario div button {
	width: 70%;
	max-width: 200px;
	min-width: 100px;
	margin: 0 auto;
	display: block;
	height: 35px;
	line-height: 35px;
	border: 0;
	background-color: red;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.formulario div button:hover {
	background-color: #450745;
}

body {
background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
main {
	padding-left: 240px;
}
}

/* Sidebar */
.sidebar {
position: fixed;
top: 0;
bottom: 0;
left: 0;
padding: 250px 0 0; /* Height of navbar */
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
width: 240px;
z-index: 600;
}

@media (max-width: 991.98px) {
.sidebar {
	width: 100%;
}
}
.sidebar .active {
border-radius: 5px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
position: relative;
top: 0;
height: calc(100vh - 48px);
padding-top: 0.5rem;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}