<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>Eventos :: Cadastro de evento</title>
        <link rel="stylesheet"
              href="/css/style.css" />
    </head>
<body>
    <header>
        <h1>Cadastra um evento ai parceiro</h1>
        <img id="gif" class="center" src="https://i.pinimg.com/474x/e4/d9/1e/e4d91ee75885397d881444296c03a640.jpg">
        <nav>
            <ul>
                <li>
                    <a href="/inicio">Lista de Eventos</a>
                </li>
                <li>
                    <a href="/cadastroEvento">Cadastro de Eventos </a>
                </li>
                <li>
                    <a href="/usuario">Lista de Usuarios </a>
                </li>
                <li>
                    <a href="/cadastroUsuario">Cadastro de Usuarios </a>
                </li>
                <li>
                    <a href="/logout">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>